<% layout("layouts/boilerplateAdmin") -%>

  <div class="col-sm-12 mx-3 jumbotron mt-5">
    <h3 class="text-center">Update Webinar Details</h3>
    <form action="/editWebinarAdmin/<%= showWebinar._id %>" class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="webinar[title]" value="<%= showWebinar.title %>">
      </div>
      <div class="form-group">
        <label for="organiser">Organiser</label>
        <input type="text" class="form-control" id="organiser" name="webinar[organiser]" value="<%= showWebinar.organiser %>">
      </div>
      <div class="form-group">
        <label for="from_date">Date</label>
        <input type="date" class="form-control" id="from_date" name="webinar[date]" onkeypress="isInputNumber(event)"  value="<%= showWebinar.date.toISOString().split('T')[0] %>">
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time" name="webinar[time]" value="<%= showWebinar.time %>">
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        <input type="text" class="form-control" id="venue" name="webinar[venue]" value="<%= showWebinar.venue %>">
      </div>
      <div class="form-group">
        <label for="link">Link</label>
        <input type="text" class="form-control" id="link" name="webinar[link]" value="<%= showWebinar.link %>">
      </div>
      <div class="form-group">
        <label for="photo">Previous Photo</label>
        <img src="<%= showWebinar.photo.url %>" alt="<%= showWebinar.photo.filename %>" height="100px" width="100px">
      </div>
      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" class="form-control" id="photo" name="webinar[photo]">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="webinar[description]" value="<%= showWebinar.description %>">
      </div>
      <div class="text-center">
        <button type="submit" class="btn confer-btn mt-4 wow fadeInUp" data-wow-delay="100ms" id="submit"
          name="submit">Submit</button>
        <button class="btn confer-btn mt-4 wow fadeInUp" data-wow-delay="100ms" id="submit" name="submit"><a
            href="/webinarAdmin">Close</a></button>
      </div>
    </form>
  </div>
  <!-- Only Number for input fields -->
  <script>
    function isInputNumber(evt) {
      var ch = String.fromCharCode(evt.which);
      if (!(/[0-9]/.test(ch))) {
        evt.preventDefault();
      }
    }
  </script>