<% layout("layouts/boilerplate") -%>
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax"
        style="background-image: url(img/bg-img/img10.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title">Register Here for Event </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-12 col-lg-6 mt-5 mb-5 wow fadeInUp">
            <form class="mx-5" action="/eventRegistration/<%= resultEvent._id %>" method="POST"  enctype="multipart/form-data">
                <form class="mx-5" action="" method="POST">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputRequestDescription">Event Name</label>
                            <input type="text" class="form-control" id="inputRequestDescription" placeholder="" name="event[title]"
                                value="<%= resultEvent.title %>" readonly>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputfirst">First Name</label>
                                <input type="text" class="form-control" id="inputRequestDescription"
                                    placeholder="First Name" name="event[fname]">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputName"> Last Name</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Last Name" name="event[lname]">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName">College</label>
                            <input type="text" class="form-control" id="inputName" placeholder="College/University Name"
                                name="event[college]">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Address Line 1</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="House No. 123"
                                    name="event[add1]">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">Address Line 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Railway Colony"
                                    name="event[add2]">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity" name="event[city]">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <input type="text" class="form-control" id="inputState" name="event[state]">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip" name="event[zip]"
                                    onkeypress="isInputNumber(event)">
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" name="event[email]">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputMobile">Mobile</label>
                                <input type="text" class="form-control" id="inputMobile" name="event[phone]"
                                    onkeypress="isInputNumber(event)">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputFees">Screenshot of Fee payment </label>
                                <input type="file" class="form-control" id="inputfees" placeholder="Fees" name="event[fees]">
                            </div>
                        </div>
    
                        <button type="submit" class="btn btn-success" name="submit">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                </form>
        </div>
    </div>
        <div class="col-12 col-lg-6 mt-5 mb-5 wow fadeInUp">
                <h3 class="text-center">Event Details</h3>
                <table class="table table-bordered">
                   <tbody>
                    <tr>
                     <td>Title</td>
                     <td>
                      <%= resultEvent.title %>
                     </td>
                    </tr>
                    <tr>
                     <td>Organiser</td>
                     <td>
                         <%= resultEvent.organiser %>
                     </td>
                    </tr>
                    <tr>
                     <td>From Date- To Date</td>
                     <td>
                         <%= formatDate(resultEvent.from_date) %> to
                         <%= formatDate(resultEvent.to_date) %>
                     </td>
                    </tr>
                    <tr>
                     <td>Description</td>
                     <td>
                         <%= resultEvent.description %>
                     </td>
                    </tr>
                    <tr>
                     <td>Link</td>
                     <td>
                         <%= resultEvent.link %> 
                     </td>
                    </tr>
                    <tr>
                     <td>Time</td>
                     <td>
                         <%= resultEvent.time %>
                     </td>
                    </tr>
                    <tr>
                     <td>Venue</td>
                     <td>
                         <%= resultEvent.venue %>
                     </td>
                     </tr>
                     <tr>
                      <td>Fees</td>
                     <td>
                         <%= resultEvent.fees %>
                     </td>
                    </tr>
                    <tr>
                     <td>Photo</td>
                    <td>
                        <a href="<%= resultEvent.photo.url %>"><img src="<%= resultEvent.photo.url %>" alt="<%= resultEvent.photo.filename %>" height="100px" width="100px"></a>
                    </td>
                   </tr>
                   </tbody>
                  </table>
        </div>  <!--end container-->
    <script>
        function isInputNumber(evt) {
            var ch = String.fromCharCode(evt.which);
            if (!(/[0-9]/.test(ch))) {
                evt.preventDefault();
            }
        }
    </script>